/* myStyle.css */

@charset "UTF-8";
/*                                              */
th, td, tr{
    width: 125px;
    border: 1px solid black;
}

ul.topnav {
  display: flex;
  width: 100%;
  height: 44px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  text: 12px;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

ul.topnav > li{
  margin-left:200px;
}


ul.topnav li a:hover:not(.active) {background-color: #111;}

/*
ul.topnav li a.active {background-color: #4CAF50;}
*/

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}


body {
  font-family:'Verdana';
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  background-color: skyblue;
  background-image: url('back.jpeg');   /*Erro aqui*/
  background-repeat: no-repeat;
  background-position: center; 
  background-attachment: fixed;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
  vertical-align: middle;   
}

p{
  color: black;
}

h3{
  color: wheat;
}

.circular--square {

  width: 230px;
  height: 250px;
  padding:1px;
  border:1px solid #021a40;
}

.responsive {
  width: 100%;
  height: 500px;

}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: left;
  padding-left:20px;
}

/* Slideshow */
* {box-sizing: border-box}
.mySlides {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: pink;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: black;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* 
  Best player display
*/

.outterDiv{

  width:100%;
  background-image: url("/images/background.jpg");
  background-size: 400px;
  padding-top: 10px;
  padding-bottom: 0px;

}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-left: 3%;
  margin-right: 3%;
}

.flex-container > div {
  width: 20%;
  margin: 30px;
  text-align: center;
}

.flex-container > div > img{

  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border-style:solid;
  border-color: #0099ff;
  border-width: 7px;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;

}

.role{
  font-size: 24px;
  height: 30px;
  margin-block-start: 5px;
  margin-block-end: 5px;
  color: white;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes mymove {
  50% {border-color: lightblue;}
}

@keyframes mymove {
  50% {border-color: lightblue;}
}

.checked {
  color: orange;
}

/*flip images*/
